chroma_db/*
pdfs/*
.env
pdf_processing/mds/*
!pdf_processing/mds/.gitkeep
pdf_processing/pdfs/*
!pdf_processing/pdfs/.gitkeep

__pycache__
**__pycache__
_.pyc
PDF_processing_README.html
pdf_processing/trash/
__pycache__/
**/__pycache__/
*.pyc

exploratory_transformers.py
all_outputs.csv

