chroma_db/*
pdfs/*
.env
*.csv
pdf_processing/pdfs/*
pdf_processing/finished_data/*
PDF_processing_README.html
pdf_processing/trash/
pdf_processing/__pycache__/*
__pycache__/
*.pyc

exploratory_transformers.py
all_outputs.csv
validation.csv