chroma_db/*
pdfs/*
.env
*.csv
pdf_processing/finished_data/*
pdf_processing/__pycache__/*
pdf_processing/pdfs/*
pdf_processing/README.md

__pycache__
**__pycache__
_.pyc

exploratory_transformers.py
all_outputs.csv
validation.csv
